body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  background-color: #e0d0d0;
  color: #000000;
  width: 100%;
  overflow-x: hidden;
}


.header{
  display: flex;
  align-items: center;
  height: 2rem;
  background-color: #c29591;
  width: 100%;
  font-size: 1.5rem;
  gap: 1rem;
  padding: 1rem 4rem;
}

a{
  text-decoration: none;
  color: #000;
}

.rightNav{
  display: flex;
  gap: 1rem;
  position: relative;
  margin-left: auto;
  margin-right: 10rem;
  font-size: 1.2rem;
}

.home{
  padding: 1rem 6rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;

  @media screen and (max: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.newsCard{
  display: flex;
  flex-direction: column;
  width: 29%;
  background-color: #c8b7a6;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 2rem;
  height: 27rem; 
  @media screen and (max: 768px) {
    width: 90%;
  }
  &:hover{
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
  }
}

.newsTitle{
  font-size: 1.3rem;
}

.newsImage{
  width: 100%;
  border-radius: 1rem;
  height: 13rem;
}
.dpNewsImage{
  width: 100%;
  border-radius: 1rem;
  height: 43rem;
}

.button{
  font-size: 1rem;
  background-color: #8e645d;
  color: white;
  padding: .5rem 1rem;
  border-radius: 1rem;
  border: 1 solid #8e645d;
}

.active{
  color: #8e645d;
  background-color: white;
  font-size: 1rem;
  padding: .5rem 1rem;
  border-radius: 1rem;
  border: 1 solid #8e645d;
}

.button:hover{
  cursor: pointer;
  color: #8e645d;
  background-color: white;
}

.button:active{
  color: #8e645d;
  background-color: white;
}

.detailsPage{
  padding: 1rem 6rem;
}

.search{
  padding: 1rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

input{
  width: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: #000;
  border-radius: 1rem;
  padding: .5rem;
  gap:1rem;
}

.searchTitle{
  font-size: 1.2rem;
  font-weight: 600;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
